.light {
	--color-bg: hsl(225, 100%, 95%);
	--color-bg-form: hsl(0, 0%, 100%);
	--color-bs: hsla(210, 10%, 60%, .3);
	--color-title: hsl(226, 15%, 28%);
	--color-description: hsl(205, 10%, 30%);
	--color-birth: hsl(0, 0%, 55%);
	--color-bs-btn: hsla(220, 100%, 50%, .4);
	--color-bg-field: hsl(220, 50%, 95%);
	--link: hsl(320, 100%, 50%);
	--invalid: hsl(0, 100%, 70%);
	--valid: hsl(145, 100%, 36%);

	// SWITCH

	--color-switch: hsl(0, 0%, 100%);
	--color-switch-highlight: hsla(0, 0%, 0%, .25);
	--color-track-inactive: hsl(80, 0%, 80%);
	--color-track-active: hsl(125, 70%, 48%);

	// TABLE

	--color-bg-table-head: hsl(226, 15%, 28%);
	--color-text-table-head: hsl(0, 0%, 100%);
	--color-bg-table-row-even: hsl(214, 78%, 99%);

	// CARD

	--color-border-card: hsla(0, 0%, 60%, .2);
	--color-bg-backside-card: hsl(214, 78%, 99%);

	// KEYBOARD BTN

	--color-bg-kbtn: hsl(0, 0%, 55%);
	--color-bg-kbtn-active: hsl(0, 0%, 60%);
	--color-bs-kbtn: hsl(0, 0%, 75%);
	--color-text-kbtn: hsl(0, 0%, 100%);
}

.dark {
	--color-bg: hsl(216, 61%, 12%);
	--color-bg-form: hsl(215, 78%, 16%);
	--color-bs: rgba(0, 0, 0, .2);
	--color-title: hsl(0, 0%, 100%);
	--color-description: hsl(0, 0%, 75%);
	--color-birth: hsl(0, 0%, 65%);
	--color-bs-btn: hsla(220, 100%, 50%, .2);
	--color-bg-field: hsl(215, 70%, 25%);
	--link: hsl(140, 100%, 50%);
	--invalid: hsl(0, 100%, 70%);
	--valid: hsl(138, 100%, 70%);

	// SWITCH

	--color-switch: hsl(0, 0%, 100%);
	--color-switch-highlight: rgba(255, 255, 255, .25);
	--color-track-inactive: var(--color-bg);
	--color-track-active: hsl(135, 100%, 27%);

	// TABLE

	--color-bg-table-head: hsl(226, 92%, 6%);
	--color-text-table-head: hsl(0, 0%, 100%);
	--color-bg-table-row-even: hsl(215, 78%, 20%);

	// CARD

	--color-border-card: hsl(219, 80%, 12%);
	--color-bg-backside-card: hsl(215, 78%, 20%);

	// KEYBOARD BTN

	--color-bg-kbtn: hsl(215, 15%, 20%);
	--color-bg-kbtn-active: hsl(215, 15%, 25%);
	--color-bs-kbtn: hsl(0, 0%, 5%);
	--color-text-kbtn: hsl(0, 0%, 100%);
}
