.actionbar {
	@media (max-width: 767px) {
		top: 16px;
		right: 16px;

		width: 70px;
	}

	@media (min-width: 768px) {
		right: 0;
	}
}

.list {
	@media (max-width: 767px) {
		flex-direction: column;
	}
}